.body {
  background-color: white;
}

.thumbnails {
  margin-top: 0px;
  margin-left: 0px;
}
.thumbnail {
  width: 100%;
  height: 170px;
  object-fit:cover;
}

.video-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.talim {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 0px 0px;
  border-radius: 100%;
}

.author-pic {
  background-color: rgb(255, 255, 255);
}

.vid-info {
  background-color: rgb(255, 255, 255);
}

.details {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author,
.video-details {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.video-author {
  margin-bottom: 5px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail-row{
  position: relative;
}
.video-time{
  position: absolute;
  right: 6px;
  bottom: 10px ;
  background-color: black;
  color: #fff;
  font-size: 12px;
  padding: 3px 3px 3px 3px;
}

